@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: white;
  background: #64748B;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.shadow-rounded{
  box-shadow: 0 0 0 2px #64748B;
}

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-text,
::-webkit-calendar-picker-indicator { 
  color: #999; 
}

.fade{
  animation: fade 2.5s ease-in-out;
}

.show-up{
  animation: show-up 500ms ease-out;
}

.zoom-in{
  animation: zoom-in 0.2s ease-in-out;
}

.zoom-out{
  animation: zoom-out 0.2s ease-in-out;
}

@keyframes my-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.4);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}

.scrollbar-hide {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #64748B;
    transition: all 400ms ease;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0F172A;
  }
  